.bg-hero {
  background: black;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
/* hero home end  */
.Poppins {
  font-family: Poppins;
}
.graident-color {
  background-image: linear-gradient(90deg, #ff5757 0%, #8c52ff 100%);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Hide the original text color */
}
.gradient-bg {
  background-image: linear-gradient(90deg, #ff5757 0%, #8c52ff 100%);
}
.main-text {
  font-size: 55px !important;
}
.borderbottom{
  background-image: linear-gradient(90deg, #ff5757 0%, #8c52ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;

}
/* half line underline  */
.anker-tag:hover {
  background-image: linear-gradient(90deg, #ff5757 0%, #8c52ff 100%);
  background-repeat: no-repeat;
  background-size: 50% 2px;
  background-position: bottom left;
}
.anker-tag:active {
  background-image: linear-gradient(90deg, #ff5757 0%, #8c52ff 100%);
  background-repeat: no-repeat;
  background-size: 50% 2px;
  background-position: bottom left;
}
/* end of half line  */

.myunderline-css {
  list-style: none !important;
  padding-left: 0;
}
a {
  text-decoration: none;
}
/* hero end home  */
